$create-account-btn-color: #596D48;
$input-default-border-color: #E5E7EB;
$input-invalid-border-color: #ff0000;
$input-focus-border-color: #00aaff;
$leaf-bg-width: 1862px;
$leaf-bg-height: 2000px;
$logo-font: 'Norse Bold';

@font-face {
    font-family: 'Norse Bold';
    src: url('../assets/fonts/Norse-Bold.otf');
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
}