$create-account-btn-color: #596D48;
$input-default-border-color: #E5E7EB;
$input-invalid-border-color: #ff0000;
$input-focus-border-color: #00aaff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}