@import './globals';

#logo-container {
    width: $leaf-bg-width;
    height: 100vh;
    background-image: url(../assets/images/leaf-bg.jpg);
    background-size: auto 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#logo-container,
#content {
    height: 100vh;
}

.dimmed-background {
    @include flexCenter();
    flex: 2;
}

#logo {
    @include flexCenter();
    gap: 0.5rem;
    img {
        width: 100px;
    }

    font-size: 6rem;
    font-family: 'Norse Bold';
}

#photo-credit {
    @include flexCenter();
    align-items: flex-end;
    flex: 1;
}

#content {
    @include flexCenter();
    flex-direction: column;
    gap: 4rem;
    background-color: $input-default-border-color;
    font-family: Helvetica, sans-serif;

    #form-container {
        background-color: #ffffff;

        button {
            background-color: $input-default-border-color;
        }
    }

    #header {
        font-size: 1.2rem;
        padding-left: 4rem;
        padding-right: 8rem;

        p {
            padding-bottom: 2rem;
        }
    }
}

.input {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-wrap: wrap;
}