@import './globals';

#logo-container {
    width: 1500px;
    height: 100vh;
    background-image: url(../assets/images/leaf-bg.jpg);
    background-size: auto 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#logo-container,
#content {
    height: 100vh;
}

#logo {
    @include flexCenter();
    flex: 2;

    img {
        width: 100px;
    }

    font-size: 5rem;
    font-family: 'Norse Bold';
}

#photo-credit {
    @include flexCenter();
    align-items: flex-end;
    flex: 1;
}

#content {
    @include flexCenter();
}